<web-app>
<display-name>SmartCare API</display-name>
<filter>
    <filter-name>SmartCare_API</filter-name>
    <filter-class>org.glassfish.jersey.servlet.ServletContainer</filter-class>
    <init-param>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>
                at.smartcare
            </param-value>
        </init-param>
        <init-param>
            <param-name>jersey.config.server.provider.scanning.recursive</param-name>
            <param-value>false</param-value>
        </init-param>
    </init-param>
</filter>

<filter-mapping>
    <filter-name>SmartCare_API</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>

</web-app>